html 
    head  
        title My app 
    body  
        h2 Home
        p  this is home 
        form(method="POST")
            label(for="username") Username 
            input(type="text" name="username" placeholder="Username")#username
            label(for="password") Password 
            input(type="text" name="password" placeholder="Password")#password
            input(type="submit" value="login")

        p Don't have an account ?
        p register
            a(href="/middleware/home") 
          
    